<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,400;1,200&display=swap"
        rel="stylesheet">
    <title>Catálogo</title>
</head>

<body>

    <header>
        <nav class="nav container">
            <picture class="logo">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="VW Phone">
            </picture>
            <div class="menu">
                <ul class="menu__links">
                    <li><a href="{{url_for('index')}}" id="activo">Inicio</a></li>
                    <li><a href="{{url_for('catalogo')}}">Catálogo</a></li>
                    <li><a href="{{url_for('admin')}}">Administración</a></li>
                </ul>

            </div>
            <div class="menu">
                <ul class="menu__links iconos">
                    <li><a href="" class=""><img src="{{url_for('static', filename='img/usuario.svg')}}" alt=""></a>
                    </li>
                    <li><a href="{{url_for('carrito')}}" class=""><img
                                src="{{url_for('static', filename='img/carrito.svg')}}" alt=""></a></li>
                </ul>
            </div>

        </nav>
    </header>

    <main id="app">
        <section class="presentacion">
            <div class="presentacion__container">
                <div class="presentacion__imagen">
                    <img src="../static/img/{{datos[2][2]}}">
                </div>
                <div class="presentacion__descripcion">
                    <h1>Bienvenido, somos <strong>VW Phone</strong></h1>
                    <p>Presionando en el siguiente botón podrás acceder al catálogo de productos que ofrecemos.
                    </p>
                    <a href="{{url_for('catalogo')}}">Explorá nuestro catálogo</a>
                </div>

            </div>

        </section>
        <section class="garantia">
            <div class="contenido">
                <h2>Lo que ofrecemos</h2>

                <div class="cards">
                    <div class="card">
                        <div class="icon">
                            <img src="../static/img/comentario.svg" alt="">
                        </div>
                        <h3> Puedes dejarnos tus dudas o sugerencias sobre los productos ofrecidos</h3>
                        <p>
                            Tienes a tu disposición nuestras redes sociales ante cualquier duda o sugerencia
                        </p>
                    </div>

                    <div class="card">
                        <div class="icon">
                            <img src="../static/img/globo.svg" alt="">
                        </div>
                        <h3> Puedes obtener una cotización de los dispositivos móviles</h3>
                        <p>
                            Nuestros expertos en tecnología te pediran una serie de requisitos para acercarte la
                            cotización mas acorde y en menor tiempo.
                        </p>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="../static/img/pulgar.svg" alt="">
                        </div>
                        <h3> Calidad de los productos garantizada </h3>
                        <p>
                            Comercializamos los productos de las mejores marcas, garantizando la mejor calidad en todo
                            momento. Además, nuestros productos cuentan con 12 meses de garantía ante cualquier fallo.
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <section class="productos">
            <h2>Algunos de nuestros modelos</h2>
            <div class="contenido">
                <div class="cards">
                    {% for celular in datos %}
                    <div class="card">
                        <div class="icon">
                            <a href="{{url_for('catalogo')}}"><img src="../static/img/{{celular[2]}}" alt=""></a>
                        </div>
                        {% if celular[1] == "Apple" %}
                        <h3> {{celular[0]}} </h3>

                        {% else %}
                        <h3> {{celular[1] + " " + celular[0]}} </h3>

                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>

        </section>
    </main>

    <footer>
        <div class="footer__redes">
           <p>Puedes encontrarnos en:</p>

            <ul class="redes">
                <li><a href=""><img src="../static/img/facebook.svg" alt="facebook" class="facebook"></a></li>
                <li><a href=""><img src="../static/img/instagram.svg" alt="instagram" class="instagram"></a></li>
                <li><a href=""><img src="../static/img/twitter.svg" alt="twitter" class="twitter"></a></li>
                <li><a href=""><img src="../static/img/whatsapp.svg" alt="whatsapp" class="whatsapp"></a></li>
               </ul>
       
        </div>
        <div class="footer__copy">
            <picture class="footer__copy__item">
                <img src="../static/img/logo.png" alt="VWPhone" class="logo">
            </picture>
            <div class="footer__copy__item" id="copyright">
                Copyright 2023 &copy;. Todos los derechos reservados
            </div>

    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>