<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Catalogo</title>
</head>
<header>
</header>

<main class="container_emergencias">
    <div class="buscar">
        <input type="text" placeholder="Buscar..." id="buscador" name="buscador">
    </div>

    <section class="container-grid">
        <article class="item">
            <div class="sub-item"><img src="img/arania.png" alt="araña"></div>
            <div class="sub-item">
                <h3>Picadura de araña</h3>
            </div>
            <div class="sub-item">
                Muchas arañas no son venenosas. Las picaduras a veces pueden ser graves y manifestarse más tarde.
                Las arañas venenosas, como las viudas negras y las arañas reclusas, suelen vivir en áreas
                tranquilas, como áticos o cobertizos, y no pican a menos que se vean amenazadas.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/escorpion.png" alt="alacran"></div>
            <div class="sub-item">
                <h3>Picadura de alacrán</h3>
            </div>
            <div class="sub-item">
                Las picaduras de escorpiones o alacranes pueden ser dolorosas, pero la gran mayoría suelen ser
                inofensivas. Sin embargo, las picaduras de algunas especies pueden ser mortales. Las picaduras son
                más serias en los niños pequeños y las personas de edad avanzada.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/serpiente2.png" alt="serpiente"></div>
            <div class="sub-item">
                <h3>Picadura de serpiente</h3>
            </div>
            <div class="sub-item">
                Una mordedura de serpiente puede ser mortal si la serpiente es venenosa. Entre las serpientes
                venenosas se incluyen la Yarará, la cascabel, la de coral, entre otras. Los síntomas incluyen dolor,
                hinchazón, enrojecimiento o sangrado en el lugar de la mordedura.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/mordeduras.png" alt="mordedura"></div>
            <div class="sub-item">
                <h3>Mordeduras</h3>
            </div>
            <div class="sub-item">
                Los animales salvajes suelen huir de las personas. Sin embargo, pueden atacar si se sienten
                amenazados, si están enfermos, si protegen a sus crías o su territorio. Los ataques de mascotas son
                los más comunes. Las mordeduras de animales rara vez ponen en peligro la vida, pero si se infectan
                pueden surgir problemas médicos graves.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/ataque_cardiaco.png" alt="infarto"></div>
            <div class="sub-item">
                <h3>Ataque cardiaco </h3>
            </div>
            <div class="sub-item">
                El ataque cardíaco también se conoce como infarto de miocardio y es una emergencia médica de
                caracter urgente. Un infarto es una emergencia médica. El mismo se produce cuando un coágulo de
                sangre bloquea la irrigación sanguínea hacia el corazón, lo que causa la muerte de tejidos debido a
                que no reciben suficiente oxígeno.

            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/acv.png" alt="acv"></div>
            <div class="sub-item">
                <h3>Accidente cerebro vascular (ACV)</h3>
            </div>
            <div class="sub-item">
                Un accidente cerebro vascular o derrame cerebral es una emergencia médica de caracter urgente, que
                sucede cuando se detiene el flujo sanguineo a una parte del cerebro, o cuando un vaso sanguineo se
                rompe y provoca que la sangre se escape hacia el cerebro.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/torcedura.png" alt="esguince"></div>
            <div class="sub-item">
                <h3>Torcedura o esguince</h3>
            </div>
            <div class="sub-item">
                Una torcedura se puede producir por una caida, un golpe, una torsión, o cualquier movimiento que
                provoque que fuerze a la articulación a una posición antinatural. Esto provoca el estiramiento o
                desgarramiento de los ligamentos de esa articulación, pudiendo solucionarse mediante reposo, o
                requiriendo cirugía en casos mas graves. Las torceduras más comunes son las de tobillo y muñeca.

            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/asfixia.png" alt="atragantamiento"></div>
            <div class="sub-item">
                <h3>Atragantamiento / Asfixia</h3>
            </div>
            <div class="sub-item">
                El atragantamiento o asfixia es una emergencia médica que requiere atención urgente y se produce
                cuando un objeto o una pieza de comida queda atrapada en la garganta o la tráquea, obtruyendo total
                o parcialmente el flujo de aire hacia los pulmones. Si el cerebro permanece sin oxígeno durante más
                de cuatro minutos, se puede producir algún daño cerebral o la muerte
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>
        <article class="item">
            <div class="sub-item"><img src="img/quemadura.png" alt="quemaduras"></div>
            <div class="sub-item">
                <h3>Quemaduras</h3>
            </div>
            <div class="sub-item">
                Una quemadura es una lesión en los tejidos del cuerpo causada por el calor, sustancias químicas,
                electricidad, el sol o radiación. Las escaldaduras por líquidos calientes y vapor, los incendios en
                edificios y los líquidos y gases inflamables son las causas más comunes de las quemaduras.La
                gravedad de la mayoría de las quemaduras se relaciona con el tamaño y la profundidad de la lesión.
            </div>
            <div class="sub-item">
                <a href="" class="sub-item__link">Ver más</a>
            </div>
        </article>

    </section>


</main>
<footer>
    <p>Ante cualquier emergencia comunicarse al 107</p>
    <div class="footer__redes">
        También estamos en:
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>

    </div>
    <div class="footer__copy">
        <picture class="footer__copy__item">
            <img src="img/logo.png" alt="Logo Geosanitas" class="logo">
        </picture>
        <div class="footer__copy__item" id="copyright">
        </div>

</footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>