html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebebf4;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
}

/* ----- Estilos del header ----- */
header {
    background-color: #2c2c2c;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: 50000;

}

.nav {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin: 0 auto;
}

.logo {
    height: 80px;
    width: 100px;
    margin: 0 2rem;

}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__links {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
}

.iconos {
    gap: 1rem;
    margin: 0 2rem;


}

.menu__links a {
    text-decoration: none;
    text-align: center;
    color: #ebebf4;
    transition: all 0.75s ease;
}

.menu__links a:hover:not(#activo) {
    color: #46956a;
}



#activo {
    color: #46956a;
}

/* ----- Estilos del inicio ----- */
.presentacion {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px 1px #AAA;
    position: relative;
    z-index: 1000;

}

.presentacion__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.presentacion__imagen {
    margin: 5rem 0 5rem 5rem;
}

.presentacion__imagen img {
    border-radius: 50%;
    object-fit: cover;
    transition: border-radius 1s ease;
}

.presentacion__imagen img:hover {
    border-radius: 0;
}

.presentacion__descripcion {
    margin: 5rem 5rem 5rem 0;
    color: #3e3e3e;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.presentacion__descripcion h1 {
    font-size: 3.25rem;
    font-weight: 400;
    margin-top: -1rem;

}

.presentacion__descripcion strong {
    font-weight: 700;
}

.presentacion__descripcion p {
    font-size: 1.5rem;
    text-align: justify;
}

.presentacion__descripcion a {
    width: 75%;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #004173;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.presentacion__descripcion a:hover {
    background-color: rgb(0, 65, 115, .9);

}

.garantia {
    background-color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px 1px rgba(59, 59, 59, .3);
    position: relative;
    z-index: 500;
}

.contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.garantia .contenido h2 {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.card {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.garantia .icon img {
    height: 80px;
    margin-top: 2rem;

}

.garantia .icon,
.card h3 {
    padding: 1rem;
    text-align: center;
    color: #222;
    font-size: 1.25rem;
}

.garantia .card p {
    padding: 0 1rem 2rem;
    text-align: center;
    color: #222;
    font-size: 1.15rem;

}

.productos h2 {
    padding: 3rem 0 0;
    text-align: center;
    font-size: 1.75rem;
}

.productos {
    background-color: #EFEFEF;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px 1px rgba(59, 59, 59, .3);
    position: relative;
    z-index: 100;

}

.productos .cards {
    gap: 4rem 7rem;
    margin-bottom: 5rem;
}

.productos img {
    cursor: pointer;
    padding: 1rem;
}

.productos img:hover {
    transform: scale(1.05);
}

.productos h3 {
    font-size: 1.5rem;
    color: #3e3e3e;
}

/* ----- Estilos del catálogo ----- */

.titulo {
    margin: 2rem;
    text-align: center;
}

.titulo p {
    font-size: 1.1rem;
    color: #444;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 2rem 7rem;
    justify-items: center;
    margin: 0 2rem;

}

.item {
    background-color: #CCC;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    width: 250px;
    transition: all .5s ease;
    position: relative;
    min-height: 420px;
}

/* 
.item:hover {
    transform: scale(1.02);
} */

.sub-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid rgba(170, 170, 170, 0.7);
    cursor: pointer;
}

.sub-item h3 {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    text-align: center;
}



.precio {
    color: #46956a;
    position: absolute;
    bottom: 4.5rem;
}

.stock {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F85149;
    color: #CCC;
    text-align: center;
    font-size: 1.1rem;
    padding: .5rem 0;
    border-radius: 0 0 10px 10px;
}

.form {
    position: absolute;
    bottom: .5rem;
}

.form__cantidad {
    width: 2.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.form__reducir,
.form__aumentar {
    height: 1.7rem;
    width: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;

    color: #CCC;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.form__reducir {
    border-radius: 10px 0px 0px 10px;
}

.form__agregar {
    background-color: #CCC;
    border: 1px solid #ccc;
    border: none;
    cursor: pointer;

}

.flex-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.form__agregar img {
    fill: #1e1e1e;
    height: 1.7rem;
    width: 2rem;
    border-radius: 0;
    padding: .5rem;
}

.especificacion {
    background-color: #ccc;
    width: 0;
    height: 75%;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 100000px 100000px rgba(0, 0, 0, 0.7);
    transition: opacity 1s ease, width 1s ease;
    opacity: 0;
}

#cerrar {
    background-color: rgb(204, 204, 204, 0);
    border: none;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    top: 13%;
    right: 31%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

.img_celular {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.img_celular img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}

.especificacion h2 {
    text-align: center;
    font-size: 1.5rem;
}

.listado_espec {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    list-style: none;
}

.listado_espec li {
    padding: .5rem;
}

/*Tabla admin*/
table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    color: #ccc;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #1e1e1e;
}

tbody tr:nth-child(2n) {
    background-color: #1e1e1e;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(30, 30, 30, .8);
}

.img_prod {
    height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.edit {
    padding: 5px 10px;
    background-color: #0C8CE9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

.delete {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #F85149;
    border-radius: 0 10px 10px 0;

}

.edit img,
.delete img {
    height: 25px;
    width: 25px;
}

button:hover {
    opacity: 0.7;
}

.agregar {
    position: absolute;
    left: .2rem;
    background-color: #19b55f;
    border: 1px solid #1e1e1e;
    color: #000;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.titulo_tabla {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Formulario de administración */

.titulo {
    text-align: center;
    font-size: 2rem;
}

.titulo span {
    color: #b70e21;
}

.estilo_form {
    background: #222222;
    padding: 1rem;
    background-color: #222;
    width: 0;
    max-width: 800px;
    color: #ccc;
    height: 75%;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1.5em;
    transition: opacity 1s ease, width 1s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 100000px 100000px rgba(0, 0, 0, 0.7);
    opacity: 0;


}

.estilo_form h5 {
    margin: -2rem 0 1rem;

    text-align: center;
}

.estilo_form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.estilo_form form label {
    display: block;
}

.estilo_form form div {
    margin: 0;
    padding: 1rem;
}

.enviar {
    align-self: flex-end;
}

.estilo_form form button,
.estilo_form form input,
.estilo_form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.estilo_form form button {
    background: #B70E21;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1em;
}

.estilo_form form button:hover,
.estilo_form form button:focus {
    background: #19b55f;
    color: #181818;
    transition: background-color 1s ease, color 1s ease;
    outline: 0;
}

input[type="radio"] {
    transform: scale(0.6);
}

.radio-option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.radio-option span {
    display: flex;
    justify-self: start;
    align-self: start;
}


.cerrar_form {
    background-color: rgb(204, 204, 204, 0);
    position: fixed;
    z-index: 1000;
    top: 9%;
    right: 17%;
    color: #ccc;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;

}

.error {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(255, 0, 0, 0.2);
    color: #F00;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: opacity 1s ease;
}

.exito {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(0, 255, 0, 0.2);
    color: #004173;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: opacity 1s ease;
}

.error_form {
    background-color: rgb(214, 48, 49, .5);
    color: #CCC;
}

/*Estilos del carrito*/


.cantidad {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 15px 10px 10px rgba(37, 37, 37, 0.941);
}

.cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.cart-actions {
    text-align: right;
    margin-top: 20px;
}



.btn {
    padding: 8px 12px;
    background-color: #9f0a28;
    color: #fff;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(16, 14, 14, 0.941);
}

.btn-add {
    background-color: #1561F0;

}



.btn:hover {
    background-color: #1561F0;
}

tfoot {
    color: #000;
}

.adv {
    padding: 1rem;
    background-color: #CCC;
    width: 0;
    max-width: 800px;
    color: #181818;
    height: 20%;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1.5em;
    font-size: 1.25rem;
    text-align: center;
    transition: opacity 1s ease, width 1s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 100000px 100000px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
}

.adv * {
    margin: auto;
}

.adv button {
    width: 85%;
    padding: .5rem;
    background-color: #004173;
    font-size: 1.25rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* ---- Estilos del footer ----*/
footer {
    position: relative;
    background-color: #303030;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 2rem 0 0;
}

.footer__redes,
.footer__copy {
    width: 100%;
    max-width: 1200px;
}


.footer__redes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
    max-width: 1200px;

}

.footer__copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
}

footer .logo {
    width: 200px;
    height: 100%;
    margin-left: -2rem;
}
footer p{
    font-size: 1.1rem;
    display: block;

}
.redes{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.redes img{
    height: 30px;
    width: 30px;
    background-color: #303030;
    padding: .5rem;
    border-radius: 10px;
}
.redes img:hover{
    transform: translateY(-2px);
}
.facebook:hover{
    background-color: #1877F2;
}
.instagram:hover{
    background: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}
.twitter:hover{
    background-color: #1DA1F2;
}
.whatsapp:hover{
    background-color: #128C7E;
}
@media screen and (max-width: 768px) {
    .container {
        margin: 0 1rem;
    }

    .estilo_form form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .radio-option {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: self-start;
    }

    .radio-option span {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: end;
        place-items: center;
    }

    .img_prod {
        height: 60px;
        width: 60px;
    }

    .edit {
        padding: 5px;
    }

    .delete {
        padding: 5px;

    }

    .edit img,
    .delete img {
        height: 15px;
        width: 15px;
    }

    input[type="radio"] {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .tabla table {
        width: 100%;
    }

    .tabla thead tr:nth-child(1) {
        display: none;
    }

    .tabla thead tr:nth-child(2) {
        display: none;
    }

    .agregar {
        display: block;
    }

    .tabla tr td:first-child {
        background: rgb(20, 20, 20, .5);
        font-weight: bold;
        font-size: 1.3em;
    }

    .tabla tbody td {
        display: block;
        text-align: center;
    }

    .tabla tbody td:before {
        display: block;
        text-align: center;
    }

    .edit img,
    .delete img {
        height: 25px;
        width: 25px;
    }

    .img_prod {
        height: 80px;
        width: 80px;
    }
}